<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	
	<display-name>store</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ExampleServlet</servlet-name>
		<servlet-class>servlets.ExampleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExampleServlet</servlet-name>
		<url-pattern>/app</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>OrdersServlet</servlet-name>
		<servlet-class>servlets.OrdersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrdersServlet</servlet-name>
		<url-pattern>/orders</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>servlets.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CatServlet</servlet-name>
		<servlet-class>catalogue</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CatServlet</servlet-name>
		<url-pattern>/pull_catalogue</url-pattern>
	</servlet-mapping>
	
</web-app>